.cabacalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../icons/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.containner {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.containner__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.containner__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, 
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    color: var(--azul);
    background-clip: text;
    text-decoration: none;
    text-transform: uppercase;
}

.containner__botao {
    display: none;
}